@model Domain.Entities.Property
@{
    ViewBag.Title = "Product Details";
}

<h2>Property Details</h2>

<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">Blurb: @Model.Blurb</p>
            <p class="card-text">Location: @Model.Location</p>
            <p class="card-text">Bedrooms: @Model.NumberOfBedrooms</p>
            <p class="card-text">Cost per Night: @Model.CostPerNight</p>
            <p>Description: @Model.Description</p>

            <h4>Amenities:</h4>
            <ul>
                @foreach (var amenity in Model.Amenities)
                {
                    <li>@amenity</li>
                }
            </ul>

            <h4>Booked Dates:</h4>
            <ul>
                @foreach (var bookedDate in Model.BookedDates)
                {
                    <li>@bookedDate.ToShortDateString()</li>
                }
            </ul>
            @* <partial name="ViewPropertyDetails" for="PropertySearchModel" /> *@
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}