@model Domain.Entities.Property
@{
    ViewBag.Title = "Property Details";
}

<h2>Property Details</h2>

<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">Blurb: @Model.Blurb</p>
            <p class="card-text">Location: @Model.Location</p>
            <p class="card-text">Bedrooms: @Model.NumberOfBedrooms</p>
            <p class="card-text">Cost per Night: @Model.CostPerNight</p>
            <p>Description: @Model.Description</p>

            <h4>Amenities:</h4>
            <ul>
                @foreach (var amenity in Model.Amenities)
                {
                    <li>@amenity</li>
                }
            </ul>

            <h4>Booked Dates:</h4>
            <ul>
                @foreach (var bookedDate in Model.BookedDates)
                {
                    <li>@bookedDate.StartDate.ToShortDateString() - @bookedDate.EndDate.ToShortDateString()</li>
                }
            </ul>




            <form asp-controller="PropertyListing" asp-action="AddBooking">
                <input type="hidden" name="id" value="@Model.Id" />
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="start" value="SearchMenuModel.StartDate.ToString("yyyy-MM-dd")" required>

                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="end" value="SearchMenuModel.EndDate.ToString("yyyy-MM-dd")" required>

                <button type="submit">Book Dates</button>
            </form>

            @section scripts {
                <script>
                    $(function () {
                        var bookedDates = @Html.Raw(Json.Serialize(Model.BookedDates.SelectMany(b => new[] { b.StartDate, b.EndDate }).Distinct()));
                        $("#startDate, #endDate").datepicker();
                        $("#startDate, #endDate").datepicker({
                            beforeShowDay: function (date) {
                                var dateString = $.datepicker.formatDate("yy-mm-dd", date);
                                return [bookedDates.indexOf(dateString) === -1];
                            }
                        });
                    });
                </script>
            }


            @* <partial name="ViewPropertyDetails" for="SearchMenuModel" /> *@
        </div>
    </div>
</div>

@* @section scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
} *@