@model PropertyDetailsModel
@{
    ViewBag.Title = "Product Details";
}

<h2>Property Details</h2>

<div>
    <h4>@Model.Name</h4>
    <p>Location: @Model.Location</p>
    <p>Number of Bedrooms: @Model.NumberOfBedrooms</p>
    <p>Cost per Night: @Model.CostPerNight</p>
    <p>Description: @Model.Description</p>

    <h4>Amenities:</h4>
    <ul>
        @foreach (var amenity in Model.Amenities)
        {
            <li>@amenity</li>
        }
    </ul>

    <h4>Booked Dates:</h4>
    <ul>
        @foreach (var bookedDate in Model.BookedDates)
        {
            <li>@bookedDate.ToShortDateString()</li>
        }
    </ul>
</div>